@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  background: url(../assets/img/bg_fuego.jpg);
  background-size: contain;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: saturate(5);
}

body {
  font-family: 'Lato', sans-serif;
}

.coco {
  font-family: 'COCOGOOSE', sans-serif;
}

.under {
  position: relative;
}

.under::before {
  content: '';
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2px;
  left: 50%;
  background: #ec5242;
  bottom: -10px;
}

.programs-items li {
  background-color: #5858584e;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.btn-prog {
  display: block;
  background-color: #ff4f38;
  color: #fff;
  padding: 1rem 2rem;
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.title {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.title::before {
  content: '';
  display: block;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  width: 2.5rem;
  height: 2px;
  background: #ec5242;
  bottom: -10px;
}

.speaker {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.image-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.speaker-image {
  display: block;
  min-width: 100px;
  min-height: 100px;
  width: 100px;
  height: 100px;
}

.partners img {
  filter: grayscale(100%);
}

/* **** menu mobile **** */

.menu-container {
  transition: all 1.5s ease-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  display: none;
  position: fixed;
  backdrop-filter: blur(2px);
}

.mobile-menu {
  background-color: #272a32;
  transition: all 1.5s ease-out;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  z-index: 5000;
  display: none;
  position: fixed;
}

.mobile-menu-items {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 10%;
}

.mobile-menu img {
  margin-left: 65%;
  margin-top: 15%;
  margin-bottom: 5%;
  cursor: pointer;
}

.mobile-menu a {
  color: #ec5242;
}

.mobile-menu a:hover {
  opacity: 50%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #speakers {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 5rem;
  }

  .speaker {
    flex: 1 0 calc(50% - 0.5rem);
  }

  #speakers-title {
    order: 0;
    flex: 1 0 100%;
  }

  .speaker-image {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
  }
}
